<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data</title>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBeNb3mT9z0nWE80rMO_M9poZGw8ffANGIYw&s" alt="Elchin ist sehr bald"
        width="1000"
        height="500" />
</head>
<body style="background-color:rgb(255, 232, 174)" >
<body>
    <h1 style="font-family:Impact, sans-serif;">User Profile</h1>
    <p style="font-family:Verdana">Username: {{ data.profile.username }}</p>
    <p style="font-family:Verdana">Country: {{ data.profile.display_country }}</p>
    
    <p style="font-family:Verdana">Last Online: {{ data.profile.display_last_online }}</p>
    <p style="font-family:Verdana">Joined: {{ data.profile.display_joined }}</p>

    <h2  style="font-family:Verdana">Games in the past month</h2>
    <ul  style="font-family:Verdana">
        {% for game in data.games.games %}
            <li>
                {{game.display_time}} - {{ game.white.username }} (White, {{game.white.rating}}, {{game.white.country}}) vs {{ game.black.username }} (Black, {{game.black.rating}}, {{game.black.country}})
                <button onclick="location.href='{{ url_for('main1', username=game.white.username) }}'">View White Player</button>
                <button onclick="location.href='{{ url_for('main1', username=game.black.username) }}'">View Black Player</button>
                <button onclick="location.href='{{ url_for('menu2', game_id=game.url.split('/')[-1]) }}'">View Game Data</button>
            </li>
        {% endfor %}
    </ul>
    <img src="data:image/png;base64,{{ plot_url }}" alt="Elo History">
</body>
</html>