<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Data</title>
<style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center {
    text-align: center;
}
</style>
</head>
<body style="background-color:rgb(255, 232, 174)" >
<body>
    <div class="center">
    <h1 style="font-family:Impact, sans-serif;">Game Data</h1>
    <p style="font-family:Verdana">Game ID: {{ game_data.url.split('/')[-1] }}</p>
    <p style="font-family:Verdana">White Player: {{ game_data.white.username }}</p>
    <p style="font-family:Verdana">Black Player: {{ game_data.black.username }}</p>
    <p style="font-family:Verdana">Result: {{ game_data.result }}</p>
    </div>
</body>
</html>
