<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualization</title>
</head>
<body style="background-color:rgb(255, 232, 174)" >
<body>
    <h1 style="font-family:Verdana">Age distribution</h1>
    <img src="data:image/png;base64,{{ plot_url }}" alt="Age Distribution">

    <h1 style="font-family:Verdana">Scatter plot - name and age</h1>
    <img src="data:image/png;base64,{{ scatter_url }}" alt="Scatter Plot">
</body>
</html>